#header {
    color: blue;
}

.box {
    position: relative;
    background-color: #e76873;
    width: 15%;
    height: 50px;
    margin: 5px;
    float: left;
    text-align: center;
}

.blue {
    background-color: blue;
}

body {
    background-color: #efc8eb;
}