body {
    margin: 0;
}

#nav {
    position: relative;
    left:0;
    padding: 5px;
    width: 100%;
    top: 0;
    border-bottom: 1px solid black;
    display: flex;
    background-color: #000000;
    text-align: center;
    justify-content: center;
}

.nav_elem {
    max-width: 50px;
    min-height: 20px;
    margin-right: 5px;
    border: 1px solid #ff008c;
    float: left;
    padding: 5px;
    border-radius: 5px;
    background-color: #ffffff;
}

.container img {
    max-width: 23%;
    height: auto;
}

#nav_menu_icon {
    float: left;
    margin-left: -90%;
}

.nav_elem:hover {
    background-color: #a7a7a7;
}

.active_nav {
    background-color: #bdaeff;
}

.dropdown {
    list-style-type: none;
    margin: 15px 0 0;
    padding: 5px;
    position: absolute;
    border: 1px solid black;
}

#content {
    width: 100%;
    min-height: 100%;
}

#box {
    position: absolute;
    background-color: #e76873;
    width: 50px;
    height: 50px;
}